<nav class="grey darken-3">
	<div class="nav-wrapper container">
		<a class="brand-logo center" href="#!">StoryBooks</a>
		<a class="sidenav-trigger show-on-large" href="#" data-target="mobile-demo"><i class="fas fa-bars"></i></a>

		<ul id="mobile-demo" class="sidenav">
			<li><a href="/stories">public stories</a></li>
			<li><a href="/dashboard">dashboard</a></li>
			<li><a href="/auth/logout">logout</a></li>
		</ul>
	</div>
</nav>
